.video-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 12px;
}
.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
}
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-info {
    display: inline-block;
    /* background-color: grey; */
}
.channel-profile {
    width: 50px;
    display: inline-block;
    vertical-align: top;
    /* background-color: grey; */
}
.profile-picture {
    margin-top: 10px;
    width: 80%;
    border-radius: 50%;
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 80px;
    padding-top: 20px;
    padding-left: 100px;
    background-color: rgb(228, 228, 228);
    border-top-style: solid;
    border-top-color: rgb(213, 213, 213);
    border-top-width: 2px;
}

@media (max-width: 750px) {
    .video-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
@media (min-width: 751px) and (max-width: 999px) {
.video-grid {
    grid-template-columns: 1fr 1fr 1fr;
}
}
  
@media (min-width: 1500px) {
.video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
.thumbnail {
    width: 100%;
}