.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section {
    width: 150px;
    background-color: lightblue;
}
.middle-section {
    flex: 1;
    background-color: lightcoral;
    margin-right: 35px;
    margin-left: 70px;
    max-width: 400px;
}
.right-section {
    width: 200px;
    background-color: lightgreen;
}